* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #742305;
}

/* COLOR BACKGROUND */
.colorBackground {
  background-color: #fef7e2;
}

/* NAV */
header {
  width: 100%;
  overflow: hidden;
}

/* BUTTON NAV */
.container-btnNav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 767px) {
  .container-btnNav button {
    flex: 1;
  }
  .btn-Shop {
    padding-inline: 20px;
    flex: 2;
  }
}
button {
  background-color: #ffdf7f;
  color: inherit;
  /* padding: 0.5rem 2rem; */
  border: none;
  border-radius: 3rem;
  font-size: 15px;
  font-weight: 700;
  height: 3rem;
  margin-block: 1rem;
}

/* BUTTON SHOP */
.btn-Shop {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
  font-size: 1.7rem;
}

.btn-Shop img {
  width: 2.5rem;
  margin-right: 1rem;
}

/* TITLE */
h1 {
  font-size: 3rem;
  font-weight: 900;
  margin-block: 1rem;
}

h2 {
  font-size: 2.2rem;
  font-weight: 900;
}

h3 {
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 1rem;
}
h4 {
  font-size: 1.3rem;
  font-weight: 700;
}

/* GESTIONE CARD */
.allCards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-inline: 1rem;
}

.allCards p {
  font-size: 1.2rem;
}

.card {
  background-color: #fef7e2;
  border-radius: 3rem;
  max-width: calc((100% - 30px) / 2);
}
.card img {
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  width: 100%;
}

.product-card {
  margin-block: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card-description {
  text-align: center;
}

.price p {
  font-size: 1.7rem;
}

.product-btn {
  text-align: center;
}
.product-btn button {
  font-size: 1.1rem;
  width: 80%;
}
@media screen and (min-width: 576px) {
  .n5 {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .n4 {
    display: none;
  }
}

/* ARTICLE */

article {
  padding-inline: 1rem;
}

.container-article {
  border-radius: 3rem;
  padding: 1.5rem 2rem;
}
.container-article p {
  margin-bottom: 1rem;
  font-size: 1.3rem;
}
.container-article img {
  width: 100%;
}

/* GESTIONE DEL MEDIA MEDIUM */

@media screen and (min-width: 768px) {
  body {
    display: flex;
  }
  /* BTN NAV */
  .container-btnNav {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    padding: 1rem 1.3rem;
  }

  .btn-Shop {
    order: -1;
  }

  .container-btnNav button {
    font-size: 1.1rem;
    margin: 0;
    height: 6rem;
    width: 100%;
  }

  /* MAIN CARD */
  .allCards {
    margin-block: 2rem;
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    padding-inline: 1rem;
  }

  .card {
    max-width: calc((100% - 20px) / 3);
  }

  .price p {
    font-size: 1.2rem;
  }

  .product-btn button {
    padding: unset;
    width: 8rem;
  }

  .card-description p {
    font-size: 0.9rem;
  }

  .product-card {
    margin-block: 0.4rem;
  }

  /* TITLE */
  h1 {
    letter-spacing: -3px;
    font-size: 3.2rem;
  }

  /* GESTIONE DELLO SCROLL CON NAV CHE DIVENTA SIDEBAR */
  .boxHeader {
    position: fixed;
  }

  .boxMain {
    margin-left: 185px;
    height: 100vh;
    overflow-y: auto;
  }
}

/* MEDIA SCREEN PER MEDIUM LARGE */

@media screen and (min-width: 992px) {
  .n4 {
    display: block;
  }
  .card {
    max-width: calc((100% - 20px) / 4);
  }
}

/* MEDIA SCREEN LARGE */

@media screen and (min-width: 1200px) {
  .n5 {
    display: block;
  }
  .card {
    max-width: calc((100% - 20px) / 5);
  }

  .container-article {
    min-height: 60vh;
    display: flex;
    gap: 1rem;
  }
  .container-article > div,
  .container-article > img {
    flex: 1;
    object-fit: cover;
  }
  .container-article img {
    order: -1;
  }
}
